@import './../../../styles/main.scss';

.form__item {
    @include flex-column;
    flex: 1 1 calc(50% - 16px);

    &.full {
        flex: 1 1 100%;
    }

    &.halfWithButton {
        flex: 1 1 calc(50% - 16px);

        .inputWrapper {
            @include flex-align-center;
            gap: 4px;
        }

		@media (max-width: 991px) {
			flex: 1 1 100%;
			max-width: 100%;
		}
    }

    .item__label {
        @include label-input;

        .required {
            color: $accent-red;
            margin-right: 4px;
        }
    }

    .inputWrapper {
        @include flex-align-center;
    }

    .item__input {
        height: 32px;
        flex: 1;
        padding: 6px 8px;
        border: $border;
        border-radius: $border-radius;
        font-size: 14px;
    }

    .actionButton {
		@include flex-center-center;
        @include small-button-size;
        border: $border;
        border-radius: $border-radius;
		flex-shrink: 0;

        img {
            @include img-size;
        }
    }

    @media (max-width: 991px) {
        flex: 1 1 100%;
        max-width: 100%;
    }
}
