@import './mixins.scss';
@import './variables.scss';

.App {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

body {
	@include main-font-size-line-height;
	background-color: $background-color;
	font-family: $font-family-main;
	font-weight: 400;
	color: $text-color-main;
}

.main {
	@include flex-row-space-between;
	align-items: flex-start;
	flex: 1 1 auto;
}

.content {
	@include flex-column-flex-start;
	align-items: stretch;
	min-height: 100vh;
	// padding: 0 16px;
	// border-left: $border;
	overflow: hidden;
}