@mixin flex-row-space-between {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

@mixin flex-column-flex-start {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	// align-items: center;
}

@mixin flex-center-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin main-font-size-line-height {
	font-size: 14px;
	line-height: calc(20px / 14px);
}

@mixin button-border-padding {
	padding: 6px;
	border-radius: $border-radius;
	border: $border;
}

@mixin label-input {
	margin-bottom: 8px;
	font-weight: 600;
}

@mixin text-overflow-wrap {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

@mixin background-shadow-overlay {
	background-color: $backgroung-shadow;
	opacity: 40%;
}