$background-color: #FFF;
$background-second: #FCFCFD;
$font-family-main: 'Open Sans', sans-serif;
$font-family-secondary: 'Montserrat', sans-serif;
$text-color-main: #2E3238;
$text-color-secondary: #ABB1BA;
$text-color-secondary-darkgrey: #5C6470;
$text-color-light: #FFF;
$border: 1px solid #D5D8DD;
$border-radius: 4px;
$accent-red: #B21F00;
$blue-button-bg: #0078CF;
$border-badge: #99D5FF;
$background-badge: #E5F4FF;
$backgroung-shadow: #0B0C0E;