$background-color: #FFF;
$background-second: #FCFCFD;
$font-family-main: 'Open Sans', sans-serif;
$font-family-secondary: 'Montserrat', sans-serif;
$text-color-main: #2E3238;
$text-color-secondary: #ABB1BA;
$border: 1px solid #D5D8DD;
$border-radius: 4px;