@import './../../styles/main.scss';

.navigation {
	@include flex-row-space-between;
	align-items: flex-start;
	border: $border;

	.navigation__tab {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;

		.tab__item {
			@include flex-center-center;
			width: 56px;
			padding: 16px;
		}
	}

	.navigation__field {
		width: 280px;
		border-left: $border;

		.navigation__search {
			@include flex-row-space-between;
			gap: 8px;
			border-bottom: $border;
			padding: 16px;

			.input__container {
				@include button-border-padding;
				display: flex;
				height: 32px;
				flex: 1;
				position: relative;

				.navigation__input {
					border: none;
				}

				.input__filterButton {
					position: absolute;
					top: 9px;
					right: 8px;
					background: none;
					border: none;
					margin-left: 8px;
				}
			}
		}

		@media (max-width: 991px) {
			display: none;
		}
	}

	@media (max-width: 767px) {
		display: none;
	}
}