@import './../../styles/main.scss';

.modal {
    @include flex-column-flex-start;
	align-items: stretch;
    position: fixed;
    max-width: 800px;
    width: 100%;
    top: 16px;
    left: 50%;
    padding: 16px;
    background-color: $background-color;
    border-radius: $border-radius;
    overflow-y: auto;
    z-index: 1000;
    transform: translateX(-50%);
	max-height: calc(100vh - 32px);

    @media (max-width: 767px) {
        top: 0;
        left: 0;
        transform: none;
		max-height: 100vh;
        border-radius: 0;
    }
}

.modalOverlay {
	@include background-shadow-overlay;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
}

.modal__header {
		@include flex-row-space-between;
		padding: 24px 8px;

		.header__left {
			@include flex-row-space-between;
			gap: 16px;

			.modal__title {
				font-family: $font-family-secondary;
				font-size: 20px;
				line-height: 1.2;

				@media (max-width: 767px) {
					font-family: $font-family-main;
					font-weight: 600;
					font-size: 14px;
					text-transform: uppercase;
					color: $text-color-secondary-darkgrey;
					line-height: 1.4;
				}
			}

			@media (max-width: 767px) {
				flex: 1;
			}
		}

		.closeButton {
			display: none;

			@media (max-width: 767px) {
				@include flex-center-center;
				width: 32px;
				height: 32px;
				border: $border;
				border-radius: $border-radius;

				img {
					width: 20px;
					height: 20px;
				}
			}
		}

		.header__right {
			@include flex-row-space-between;
			gap: 4px;

			@media (max-width: 767px) {
				display: none;
			}
		}
	}