@import './../../styles/main.scss';

.header {
	@include flex-row-space-between;
	padding: 8px 16px;
	flex: 0 0 auto;
	border-bottom: $border;

	.logo {
		@media (max-width: 767px) {
			display: none;
		}
	}

	.menu__sidebar {
		display: none;

		.sidebar__image {
			@media (max-width: 767px) {
				width: 20px;
				height: 20px;
			}
		}

		@media (max-width: 767px) {
			display: block;
		}
	}

	.header__menu {
		@include flex-row-space-between;

		.input__container {
			position: relative;
		}
		
		.menu__input {
			padding: 8px 6px;
			margin-right: 16px;
			height: 32px;
			width: 296px;
			border-radius: $border-radius;
			border: $border;
			
			@media (max-width: 767px) {
				display: none;
			}
		}

		.input__searchButton {
			position: absolute;
			top: 8px;
			right: 24px;
			background: none;
			border: none;
			margin-left: 8px;
		}

		.menu__user {
			@include flex-row-space-between;
			margin-right: 8px;
			gap: 8px;

			.user__avatar {
				@include avatar-size;

				@media (max-width: 767px) {
					@include mobile-img-size;
				}
			}
			
			.user__name {
				@media (max-width: 767px) {
					display: none;
				}
			}

			@media (max-width: 767px) {
				margin-right: 0;
			}
		}

		@media (max-width: 767px) {
			gap: 16px;
		}
	}
}

