@import './../../../styles/main.scss';

.inputWithBadges {
	@include text-overflow-wrap;
    display: flex;
    flex-direction: column;

    &.default {
        flex: 1 1 calc(50% - 8px);

        @media (max-width: 991px) {
            flex: 1 1 100%;
            width: 100%;
        }
    }

    &.fullWidth {
        flex: 1 1 100%;
		
    }

    .inputLabel {
        @include label-input;
    }

    .inputRow {
        display: flex;
        align-items: flex-start;
        gap: 4px;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 100%;

		.inputContainer {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			gap: 4px;
			flex: 1 1 auto;
			padding: 4px 30px 4px 4px;
			border: $border;
			border-radius: $border-radius;
			min-width: 0;
			min-height: 32px;
			max-width: 100%;
			position: relative;

			.badge {
				@include text-overflow-wrap;
				padding: 0 8px;
				background-color: $background-badge;
				border: 1px solid $border-badge;
				border-radius: $border-radius;
			}

			.removeBadgeButton {
				position: absolute;
				top: 8px;
				right: 6px;
				background: none;
				border: none;
				margin-left: 8px;
			}
		}

		.actionButton {
			@include flex-center-center;
			width: 32px;
			height: 32px;
			border: $border;
			border-radius: $border-radius;
			flex-shrink: 0;

			.icon {
				width: 20px;
				height: 20px;
			}
		}	
    }

    
}
